<div class="treatments-new">
  <div class="treatments-box">
    <table class="treatments-table">
      <tbody>
      <tr class="treatments-tr">
        <th class="treatments-th">処置時間
        <button class="add-treat-time" data-patient_id="<%= @patient.id %>" >追加</button></th>
          <% @treatments.each do |treatment| %>
          <td class="treatment-td">
            <%= treatment.time %>
            <button class="delete-time" data-id="<%= treatment.id %>" data-patient_id="<%= @patient.id %>">削除</button>
          </td>
          <% end %>
      </tr>
      <tr class="treatments-tr">
        <th class="treatments-th">検査</th>
      <% @treatments.each do |treatment| %>
        <td class="treatment-td">
            <div class="hyouji"><%= treatment.test %></div>
            <input type="text" class="nyu-ryoku"  value="<%= treatment.test %>" data-col="test" data-id="<%= treatment.id %>" data-patient_id="<%= treatment.patient_id %>">
        </td>
        <% end %>
      </tr>
      <tr class="treatments-tr">
        <th class="treatments-th">飲み薬</th>
        <% @treatments.each do |treatment| %>
        <td class="treatment-td">
            <div class="hyouji"><%= treatment.medicine %></div>
            <input type="text" class="nyu-ryoku"  value="<%= treatment.medicine %>" data-col="medicine" data-id="<%= treatment.id %>" data-patient_id="<%= treatment.patient_id %>">
        </td>
        <% end %>
      </tr>
      <tr class="treatments-tr">
        <th class="treatments-th">注射</th>
        <% @treatments.each do |treatment| %>
        <td class="treatment-td">
            <div class="hyouji"><%= treatment.injection %></div>
            <input type="text" class="nyu-ryoku"  value="<%= treatment.injection %>" data-col="injection" data-id="<%= treatment.id %>" data-patient_id="<%= treatment.patient_id %>">
        </td>
        <% end %>
      </tr>
      <tr class="treatments-tr">
        <th class="treatments-th">Dr.Name</th>
        <% @treatments.map(&:user_name).each do |user_name| %>
          <td class="treatment-td"><%= user_name %></td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<%= javascript_pack_tag 'treatment/application' %>