
<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%# <%= @item.item_name %> %>
    </h2>
    <div class='item-img-content'>
      <%# <%= image_tag @item.image ,class:"item-box-img" %> %>
      <%# 商品が売れている場合は、sold outの表示をしましょう。 %>
      <%# <% if @item.buy.present? %> %>
      <%# <% end %> %>
      <%# //商品が売れている場合は、sold outの表示をしましょう。 %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%# ¥ <%= @item.price %> %>
      </span>
      <span class="item-postage">
        <%# (税込) <%= @item.deliveryfee.name %> %>
      </span>
    </div>

    <%# ログインしていて、なおかつ、ログインしているユーザと出品しているユーザが同一人物でないとき表示しましょう。 %>
    <%# <% if user_signed_in? && current_user.id == @item.user_id%> %>
    <%# <%= link_to '商品の編集', edit_item_path, method: :get, class: "item-red-btn" %> %>
    <p class='or-text'>or</p>
    <%# <%= link_to '削除', item_path, method: :delete, class:'item-destroy' %> %>
    <%# <% end %> %>
    <%# 商品が売れていない場合はこちらを表示しましょう %>
    <%# <% if user_signed_in? && current_user.id != @item.user_id  || !user_signed_in? %> %>
    <%# <%= link_to '購入画面に進む', new_item_buy_path(@item.id),class:"item-red-btn"%> %>
    <%# //商品が売れていない場合はこちらを表示しましょう %>
    <%# //ログインしていて、なおかつ、ログインしているユーザと出品しているユーザが同一人物でないとき表示しましょう。 %>
    <%# <% end %> %>
    <div class="item-explain-box">
      <%# <span><%= @item.item_explain %></span> %>
    </div>
    <table class="detail-table">
      <tbody>
  <tr>
    <th>観察時間</th>
    <td>6:00</td>
    <td>7:00</td>
    <td>8:00</td>
    <td>9:00</td>
    <td>10:00</td>
    <td>11:00</td>
    <td>12:00</td>
    <td>13:00</td>
    <td>14:00</td>
    <td>15:00</td>
    <td>16:00</td>
    <td>17:00</td>
    <td>18:00</td>
  </tr>
  <tr>
    <th>体温</th>
    <td>
    <input type=text name="temperature">
    </td>
  </tr>
  <tr>
    <th>脈拍数/分</th>
    <td>
    <input type=text name="pulse">
    </td>
  </tr>
  <tr>
    <th>呼吸数/分</th>
    <td>
    <input type=text name="respiration">
    </td>
  </tr>
  <tr>
    <th>最高血圧</th>
    <td>
    <input type=text name="high_blood_pressure">
    </td>
  </tr>
  <tr>
    <th>最低血圧</th>
    <td>
    <input type=text name="low_blood_pressure">
    </td>
  </tr>
  <tr>
    <th>SPO2</th>
    <td>
    <input type=text name="spo2">
    </td>
  </tr>
  <tr>
    <th>食事摂取量</th>
    <td>
    <input type=text name="food_intake">
    </td>
  </tr>
  <tr>
    <th>水分摂取量</th>
    <td>
    <input type=text name="water_intake">
    </td>
  </tr>
  <tr>
    <th>便の性状</th>
    <td><select name="excresion">
    <option value=""></option>
    <option value="コロコロ便">コロコロ便</option>
    <option value="硬い便">硬い便</option>
    <option value="やや硬い便">やや硬い便</option>
    <option value="普通便">普通便</option>
    <option value="やや柔らかい便">やや柔らかい便</option>
    <option value="泥状便">泥状便</option>
    <option value="水様便">水様便</option>
    <option value="黒色便">黒色便</option>
    <option value="暗赤色便">暗赤色便</option>
    <option value="血便">血便</option>
    <option value="血液付着便">血液付着便</option>
    </select></td>
  </tr>
  <tr>
    <th>便の量</th>
    <td><select name="ex_amount">
    <option value=""></option>
    <option value="無し">無し</option>
    <option value="うずらの卵">うずらの卵</option>
    <option value="鶏卵">鶏卵</option>
    <option value="バナナ1本">バナナ1本</option>
    <option value="バナナ2本">バナナ2本</option>
    <option value="コップ1杯">コップ1杯</option>
    <option value="コップ2杯以上">コップ2杯以上</option>
    </select></td>
  </tr>
  <tr>
    <th>排尿量</th>
    <td>
    <input type=text name="water_intake">
    </td>
  </tr>
  <tr>
    <th>呼吸の副雑音</th>
    <td><select name="atten_sound">
    <option value=""></option>
    <option value="無し">無し</option>
    <option value="wheeze">ヒューヒュー</option>
    <option value="rhonchi">グーグー</option>
    <option value="fine_crackle">パチパチ</option>
    <option value="coarse_crackles">ブツブツ</option>
    <option value="胸膜摩擦音">ギューギュー、バリバリ</option>
    </select></td>
  </tr>
  <tr>
    <th>複雑音の部位</th>
    <td><select name="atten_part">
    <option value=""></option>
    <option value="右上葉">右上葉</option>
    <option value="左上葉">左上葉</option>
    <option value="右下葉">右下葉</option>
    <option value="左下葉">左下葉</option>
    <option value="両上葉">両上葉</option>
    <option value="両下葉">両下葉</option>
    <option value="背部上葉">背部上葉</option>
    <option value="背部下葉">背部下葉</option>
    <option value="全体">全体</option>
    <option value="気管支">気管支</option>
    </select></td>
  </tr>
  <tr>
    <th>痰の性状</th>
    <td><select name="sputum">
    <option value=""></option>
    <option value="無し">無し</option>
    <option value="黄色">黄色</option>
    <option value="緑色">緑色</option>
    <option value="錆びた色">錆びた色</option>
    <option value="白色・粘度が高い">白色・粘度が高い</option>
    <option value="ピンク・泡状">ピンク・泡状</option>
    <option value="白色、サラサラ">白色、サラサラ</option>
    <option value="暗赤色">暗赤色</option>
    <option value="赤色">赤色</option>
    </select></td>
  </tr>
  <tr>
    <th>咳の性状</th>
    <td><select name="cough">
    <option value=""></option>
    <option value="無し">無し</option>
    <option value="痰絡みの咳">痰絡みの咳</option>
    <option value="乾いた咳">乾いた咳</option>
    </select></td>
  </tr>
  <tr>
    <th>睡眠状況</th>
    <td>
    <input type=text name="pulse">
    </td>
  </tr>
  <tr>
    <th>記録者名</th>
    <td></td>
  </tr>
      </tbody>
    </table>

    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class='another-item'><%= "商品のカテゴリー名" %>をもっと見る</a>
</div>