<div class="observation-show">
  <div class="observation-box">
  <h3>体温</h3>
  <%= line_chart [{data: @data.compact}], id: "temperature-chart", width: "800px", height: "500px", min: 33, max:42  %>
  <h3>脈拍数</h3>
  <%= line_chart [{data: @data.compact}], id: "pulse-chart", width: "800px", height: "500px", min: 40, max:130 %>
  <h3>呼吸数</h3>
  <%= line_chart [{data: @data.compact}], id: "respiration-chart", width: "800px", height: "500px", min: 10, max:30 %>
  <%= line_chart [{name: "最高血圧", data: @data4.compact}], width: "800px", height: "500px", min: 50, max:300 %>
  <%= line_chart [{name: "最低血圧", data: @data5.compact}], width: "800px", height: "500px", min: 20, max:120 %>
  <table class="observation-show-table">
    <tbody>
    <tr>
      <th>観察時間</th>
          <% @observations.map(&:time).each do |time| %>
          <td><%= time %></td>
          <% end %>
    </tr>
    <tr>
      <th>体温</th>
      <%# value, data-id, data-patient_idこの3つにそれぞれ設定するためにmapではなくeachにする。 %>
      <% @observations.each do |observation| %>
          <td>
          <%# javascript/observation/index.jsにcssの様にクラス指定してデータを渡す %>
            <%# temperatureデータにclass="hyouji"を付与して渡す %>
            <div class="hyouji"><%= observation.temperature %></div>
<%# 表示されているデータの編集のために、input type="text"で入力フォームを作り、class="nyu-ryoku"を付与して渡す %>
            <input type="text" class="nyu-ryoku"  value="<%= observation.temperature %>" data-col="temperature" data-id="<%= observation.id %>" data-patient_id="<%= observation.patient_id %>">
          </td>
          <% end %>
    </tr>
    <tr>
      <th>脈拍数</th>
      <% @observations.each do |observation| %>
          <td>
            <div class="hyouji"><%= observation.pulse %></div>
            <input type="text" class="nyu-ryoku"  value="<%= observation.pulse %>"  data-col="pulse" data-id="<%= observation.id %>" data-patient_id="<%= observation.patient_id %>">
          </td>
      <% end %>
    </tr>
    <tr>
      <th>呼吸数/分</th>
      <% @observations.each do |observation| %>
          <td>
            <div class="hyouji"><%= observation.respiration %></div>
            <input type="text" class="nyu-ryoku"  value="<%= observation.respiration %>"  data-col="respiration" data-id="<%= observation.id %>" data-patient_id="<%= observation.patient_id %>">
          </td>
      <% end %>
    </tr>
    <tr>
      <th>最高血圧</th>
      <% @observations.each do |observation| %>
          <td>
            <div class="hyouji"><%= observation.high_blood_pressure %></div>
            <input type="text" class="nyu-ryoku"  value="<%= observation.high_blood_pressure %>"  data-col="high_blood_pressure" data-id="<%= observation.id %>" data-patient_id="<%= observation.patient_id %>">
          </td>
      <% end %>
    </tr>
    <tr>
      <th>最低血圧</th>
      <% @observations.each do |observation| %>
          <td>
            <div class="hyouji"><%= observation.low_blood_pressure %></div>
            <input type="text" class="nyu-ryoku"  value="<%= observation.low_blood_pressure %>"  data-col="low_blood_pressure" data-id="<%= observation.id %>" data-patient_id="<%= observation.patient_id %>">
          </td>
      <% end %>
    </tr>
    <tr>
      <th>SPO2</th>
      <% @observations.each do |observation| %>
          <td>
            <div class="hyouji"><%= observation.spo2 %></div>
            <input type="text" class="nyu-ryoku"  value="<%= observation.spo2 %>"  data-col="spo2" data-id="<%= observation.id %>" data-patient_id="<%= observation.patient_id %>">
          </td>
      <% end %>
    </tr>
    <tr>
      <th>食事摂取量</th>
      <% @observations.each do |observation| %>
          <td>
            <div class="hyouji"><%= observation.food_intake %></div>
            <input type="text" class="nyu-ryoku"  value="<%= observation.food_intake %>"  data-col="food_intake" data-id="<%= observation.id %>" data-patient_id="<%= observation.patient_id %>">
          </td>
      <% end %>
    </tr>
    <tr>
      <th>水分摂取量</th>
      <% @observations.each do |observation| %>
          <td>
            <div class="hyouji"><%= observation.water_intake %></div>
            <input type="text" class="nyu-ryoku"  value="<%= observation.water_intake %>"  data-col="water_intake" data-id="<%= observation.id %>" data-patient_id="<%= observation.patient_id %>">
          </td>
      <% end %>
    </tr>
    <tr>
      <th>便の性状</th>
      <% @observations.map(&:excresion).each do |excresion| %>
          <td><%= excresion %></td>
          <% end %>
    </tr>
    <tr>
      <th>便の量</th>
      <% @observations.map(&:ex_amount).each do |ex_amount| %>
          <td><%= ex_amount %></td>
          <% end %>
    </tr>
    <tr>
      <th>排尿状況</th>
      <% @observations.map(&:hainyou).each do |hainyou| %>
          <td><%= hainyou %></td>
          <% end %>
    </tr>
    <tr>
      <th>呼吸の副雑音</th>
      <% @observations.map(&:atten_sound).each do |atten_sound| %>
          <td><%= atten_sound %></td>
          <% end %>
    </tr>
    <tr>
      <th>副雑音の部位</th>
      <% @observations.map(&:atten_part).each do |atten_part| %>
          <td><%= atten_part %></td>
          <% end %>
    </tr>
    <tr>
      <th>痰の性状</th>
      <% @observations.map(&:sputum).each do |sputum| %>
          <td><%= sputum %></td>
          <% end %>
    </tr>
    <tr>
      <th>咳の性状</th>
      <% @observations.map(&:cough).each do |cough| %>
          <td><%= cough %></td>
          <% end %>
    </tr>
    <tr>
      <th>睡眠状況</th>
      <% @observations.each do |observation| %>
          <td>
            <div class="hyouji"><%= observation.sleep %></div>
            <input type="text" class="nyu-ryoku"  value="<%= observation.sleep %>"  data-col="sleep" data-id="<%= observation.id %>" data-patient_id="<%= observation.patient_id %>">
          </td>
      <% end %>
    </tr>
    <tr>
      <th>記録者名</th>
      <% @observations.map(&:user_name).each do |user_name| %>
          <td><%= user_name %></td>
          <% end %>
    </tr> 
    </tbody>
  </table>
  <div class="observation-show-btn">
    <div class="ns-btn">
    <%= image_tag "くま看護師.png" ,class:"kuma-icon" ,width:"40",height:"40"%>
    <%= link_to "観察項目編集", edit_patient_observation_path %>
    </div>
    <div class="kensa-btn">
      <%= image_tag "レントゲン.jpeg" ,class:"kensa-icon" ,width:"40",height:"40"%>
      <%= link_to "検査結果参照", '#' %>
    </div>
    <div class="syoti-btn">
      <%= image_tag "点滴.jpeg" ,class:"treatment-icon" ,width:"40",height:"40"%>
      <%= link_to "処置の入力", new_patient_treatment_path %>
    </div>
  </div>
  </div>
</div>
<%= javascript_pack_tag 'observation/application'%>