<div class="item-show">
  <div class="item-box">
    <table class="detail-table">
      <tbody>
        <tr>
          <th>観察時間</th>
          <td>6:00</td>
          <td>7:00</td>
          <td>8:00</td>
          <td>9:00</td>
          <td>10:00</td>
          <td>11:00</td>
          <td>12:00</td>
          <td>13:00</td>
          <td>14:00</td>
          <td>15:00</td>
          <td>16:00</td>
          <td>17:00</td>
          <td>18:00</td>
        </tr>
        <tr>
          <th>体温</th>
          <td><%= @observation.temperature %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>脈拍数/分</th>
          <td><%= @observation.pulse %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>呼吸数/分</th>
          <td><%= @observation.respiration %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>最高血圧</th>
          <td><%= @observation.high_blood_pressure %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>最低血圧</th>
          <td><%= @observation.low_blood_pressure %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>SPO2</th>
          <td><%= @observation.spo2 %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>食事摂取量</th>
          <td><%= @observation.food_intake %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>水分摂取量</th>
          <td><%= @observation.water_intake %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>便の性状</th>
          <td><%= @observation.excresion %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>便の量</th>
          <td><%= @observation.ex_amount %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>排尿状況</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>呼吸の副雑音</th>
          <td><%= @observation.atten_sound %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>副雑音の部位</th>
          <td><%= @observation.atten_part %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>痰の性状</th>
          <td><%= @observation.sputum %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>咳の性状</th>
          <td><%= @observation.cough %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>睡眠状況</th>
          <td>
          <%= @observation.sleep %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>記録者名</th>
          <td></td>
          <%# <%= @observation.user.name %> %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
      </tbody>
    </table>

    <div class="option">
      <div class="favorite-btn">
      <%= image_tag "くま看護師.png" ,class:"favorite-star-icon" ,width:"40",height:"40"%>
      <%= link_to "観察項目入力", edit_patient_observation_path %>
      </div>
      <div class="report-btn">
        <%= image_tag "レントゲン1.jpg" ,class:"report-flag-icon" ,width:"40",height:"40"%>
        <%= link_to "検査結果参照", '#' %>
      </div>
      <div class="treatment-btn">
        <%= image_tag "点滴.jpeg" ,class:"treatment-icon" ,width:"40",height:"40"%>
        <%= link_to "処置の入力", '#' %>
      </div>
    </div>
  </div>
</div>