<div class="login-view">
  <div class="login-form">
    <p class="login-text">
      <%= link_to "finish the work", destroy_user_session_path, method: :delete, class: 'login-submit'%>
      <%= link_to "Back to the hospital", :back, class: 'login-submit'%>
    </p>
    <%= form_with model: current_user, local: true do |f|%>
    <div class='input-field'>
      <%= f.text_field :name, class:"login-username", autofocus: true, placeholder:"Name" %>
      <%= f.email_field :email, class:"login-username", autofocus: true, placeholder:"Email" %>
    </div>
    <%= f.submit "Change your account", class: 'login-submit' %>
    <% end %>
  </div>
  <div class="underlay-logout-photo"></div>
  <div class="underlay-black"></div>
</div>