<div class="side-task-header">
  <div class="todays_treatments">本日の処置</div>
</div>

<div class="to_do_list">
    <ul class="list">
      <li class="list-name">
        <% @treatments.each do |treatment| %>
        <p>[<%= treatment.patient.name %>]</p>
        <p><%= treatment.time %></p>
        <p><%= treatment.test %></p>
        <p><%= treatment.medicine %></p>
        <p><%= treatment.injection %></p>
        <% end %>
      </li>
    </ul>
</div>
