<div class="word-header">
  <div class="left-header">
    <div class="header-title">
        <%= link_to current_user.name , edit_user_path(current_user), class:"btn btn-malformation btn-malformation--pastel" %>
    </div>
  </div>
  <div class="center-header">
    <div class="header-button">
      <a href="#", class="btn btn-malformation btn-malformation--pastel">help</a>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <% if user_signed_in? %>
        <%= link_to "新規入院", new_patient_path, class:"btn btn-malformation btn-malformation--pastel" %>
      <% else %>
        <%= link_to "新規入院", new_session_path(resource_name), class:"btn btn-malformation btn-malformation--pastel" %>
      <% end %>
    </div>
  </div>
</div>

<%# <病室一覧> %>
<div class="word-patients">
  <div class="left-patients">
    <div class="room">
      <div class="more">
        <a>301</a>
        <%# <病室内患者様一覧> %>
        <ul class="more_list">
          <li>
          <% @patients_man.each do |patient| %>
          <%= link_to patient_path(patient.id) do %>
            <table class="patients-man-table">
              <tbody>
              <tr class="patients-man-tr">
                <th class="patients-man-th">Picture</th>
                <th class="patients-man-th">Name</th>
                <th class="patients-man-th">Main Disease</th>
                <th class="patients-man-th">Sub Disease</th>
                <th class="patients-man-th">Main Doctor</th>
              </tr>
              <tr class="patients-man-tr">
                <td class="patients-man-td"><%= image_tag patient.image, class:"patient-img"%></td>
                <td class="patients-man-td"><%= patient.name %></td>
                <td class="patients-man-td"><%= patient.main_disease %></td>
                <td class="patients-man-td"><%= patient.sub_disease %></td>
                <td class="patients-man-td"><%= patient.main_doctor %></td>
              </tr>
              </tbody>
            </table>
          <% end %>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-patients">
    <div class="room">
      <div class="more">
        <b>303</b>
        <ul class="more_list">
          <li>
          <% @patients_woman.each do |patient| %>
          <%= link_to patient_path(patient.id) do %>
            <table class="patients-woman-table">
              <tbody>
              <tr class="patients-woman-tr">
                <th class="patients-woman-th">Picture</th>
                <th class="patients-woman-th">Name</th>
                <th class="patients-woman-th">Main Disease</th>
                <th class="patients-woman-th">Sub Disease</th>
                <th class="patients-woman-th">Main Doctor</th>
              </tr>
              <tr class="patients-woman-tr">
                <td class="patients-woman-td"><%= image_tag patient.image, class:"patient-img"%></td>
                <td class="patients-woman-td"><%= patient.name %></td>
                <td class="patients-woman-td"><%= patient.main_disease %></td>
                <td class="patients-woman-td"><%= patient.sub_disease %></td>
                <td class="patients-woman-td"><%= patient.main_doctor %></td>
              </tr>
              </tbody>
            </table>
          <% end %>
          <% end %>
          </li>
        </ul>
      </div>
  </div>
</div>