<div class="login-view">
  <div class="login-form">
    <%= form_with model: @patient, local: true do |f| %>
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
      <div class='input-field'>
      <p class="sentence">
          クリックして患者様の画像ファイルをアップロードして下さい
      </p>
        <%= f.file_field :image, id:"patient-image" %>
        <%= f.text_field :name, class:"patient-info", id:"patient-name", autofocus: true, placeholder:"Patient Name", maxlength:"20" %>
        <%= f.select :gender, {'Select Gender':'', '男性': '男性', '女性': '女性' }, {}, {class:"patient-info", id:"patient-gender" } %>
        <div class="form-group">
        <div class='form-text-wrap'>
        <label class="form-text">Birthday of the Patient</label>
        </div>
        <div class='input-birth-wrap'>
        <%= raw sprintf(
                    f.date_select(
                      :birth_date,
                      class:'select-birth',
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: 1930,
                      end_year: (Time.now.year - 5),
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
        <%= f.text_field 'post_num', class:"patient-info", id:"post-num", placeholder:"Post code 〒）123-4567", maxlength:"8" %>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"patient-info", id:"patient-prefecture"}) %>
        <%= f.text_field 'city', class:"patient-info", id:"city", placeholder:"City  ex:横浜市緑区"%>
        <%= f.text_field 'house_num', class:"patient-info", id:"house-num", placeholder:"House number  ex:青山1-1-1"%>
        <%= f.text_field 'apart_name', class:"patient-info", id:"apart-name", placeholder:"Apart  ex:柳ビル103"%>
        <%= f.text_field 'tel', class:"patient-info", id:"tel", placeholder:"Tel  ex:09012345678",maxlength:"11"%>
        <%= f.text_field 'key_person', class:"patient-info", id:"key-person", placeholder:"Key person  ex:娘",maxlength:"10"%>
        <%= f.text_field 'kp_tel', class:"patient-info", id:"kp-tel", placeholder:"Kp tel  ex:09012345678",maxlength:"11"%>
        <%= f.text_field 'main_disease', class:"patient-info", id:"main-disease", placeholder:"Main disease  ex:誤嚥性肺炎",maxlength:"15"%>
        <%= f.text_field 'sub_disease', class:"patient-info", id:"sub-disease", placeholder:"Sub disease  ex:糖尿病",maxlength:"15"%>
        <%= f.text_field 'main_doctor', class:"patient-info", id:"main-doctor", placeholder:"Main doctor  ex:Dr.藤井勝",maxlength:"15"%>
      <div class="caution">
        <p class="sentence">
          患者様の名前が不明の場合は
          <a>「不明男性」</a>
          や
          <a>「不明女性」</a>
          と入力して下さい。
        </p>
        <p class="sentence">
          生年月日が不明の場合は名前のところに
          <a>「名前（60代）」</a>
          と入力して下さい。
        </p>
        <p class="sentence">
          <a>「キーパーソン」</a>
          と、
          <a>「その連絡先」</a>
          はなるべく入力して下さい。
        </p>
      </div>
      </div>
    <%= f.submit "Register new Patient", class: 'login-submit' %>
    <p class="login-text">
    <%=link_to "Back to the hospital", root_path, class:'login-submit' %>
    </p>
    <% end %>
  </div>
  <div class="underlay-new-patient-photo"></div>
  <div class="underlay-black"></div>
</div>