
<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @patient.name %>  [<%= @patient.main_doctor %>]
    </h2>
    <div class='item-img-content'>
      <%= image_tag @patient.image ,class:"item-box-img" %>
      <%# //商品が売れている場合は、sold outの表示をしましょう。 %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
         <%= @patient.main_disease %>
      </span>
      <span class="item-postage">
        [既往歴]<%= @patient.sub_disease %>
      </span>
    </div>

    <%# ログインしていて、なおかつ、ログインしているユーザと出品しているユーザが同一人物でないとき表示しましょう。 %>
    <% if user_signed_in? %>
    <%= link_to '(新規入院患者様)観察記録を作成する', new_patient_observation_path(@patient.id),class:"item-red-btn"%>
    <%= link_to '観察記録を入力する', edit_patient_observation_path(@patient.id),class:"item-red-btn"%>
    <%= link_to '患者様情報の編集', edit_patient_path, method: :get, class: "patient-edit-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '退院', patient_path, method: :delete, class:'item-destroy' %>
    <% end %>
    
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>Dr.緊急呼び出し</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>ハラスメントの通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        申し送り:引継ぎ時に申し送りたい内容を入力して下さい。
        <br>
        内容は伝えたいポイントを明確にして、短く伝わりやすい表現で入力して下さい。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>申し送る<span>
      </button>
    </form>
  </div>
</div>
