<div class="login-view">
  <div class="login-form">
    <p class="login-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>
    <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
    <div class='input-field'>
      <%= f.email_field :email, class:"login-username", autofocus: true, placeholder:"Email" %>
      <%= f.password_field :password, class:"login-password", autocomplete: "off",  placeholder:"Password" %>
    </div>
    <%= f.submit "Good luck", class: 'login-submit' %>
    <% end %>
    <p class="login-text">
    <% if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Sign up", new_registration_path(resource_name), class: 'login-submit'%>
    <% end %>
      <%= link_to 'forgot your password', new_user_password_path(resource_name), class: 'login-submit'%>
    </p>
  </div>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>
</div>